<section id="portfolio">
  <h1 class="title">My portfolio 💼</h1>
  <div class="projects">
    <div class="item">
      <picture>
        <img
          src="https://images.unsplash.com/photo-1657299170936-0531a116c87c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt="project-preview">
      </picture>
      <div class="description">
        <span class="title">Project Name</span>
        <div class="card">
          <span class="body">Simple description about project here
            fadfajkfla akl jfdalkdsñ fa lfadslkñfdjsafasdkñjlfa
            afdsfa afkasj akj ñlfjdasfklsdjfa ñslk
          </span>
        </div>
        <div class="technologies">
          <span class="badge">#Angular</span>
          <span class="badge">#Nodejs</span>
          <span class="badge">#MongoD_B</span>
        </div>
        <div class="links">
          <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
          <fa-icon [icon]="['fas', 'external-link']" size="2x"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</section>