section#portfolio {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.projects {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 2.5rem 0;
  position: relative;
  min-height: 450px;
}

.item:nth-child(2n + 2) picture {
  right: 0;
}

.item picture {
  background-color: rgb(59, 130, 246, 0.4);
  height: 450px;
  width: 700px;
  border-radius: 12px;
  position: absolute;
  transition: 0.4s;
  z-index: 1;
}

.item picture:hover {
  background-color: transparent;
}

.item picture img {
  transition: 0.4s;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.item picture:hover img {
  mix-blend-mode: normal;
  filter: none;
}

.item:nth-child(2n + 2) .description {
  left: 0;
  text-align: left;
}

.item .description {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  min-height: 450px;
}

.item .description .title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary-color);
}

.card {
  border: 1px solid var(--border-color-nav);
  z-index: 2;
  background-color: var(--bg-color-button);
  min-height: 130px;
  min-width: 600px;
  max-width: 600px;
  padding: 1rem;
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: flex-end;
}

.card .body {
  font-size: 21px;
}

.item:nth-child(2n + 2) .description .technologies,
.item:nth-child(2n + 2) .description .links {
  justify-content: flex-start;
}

.description .technologies,
.description .links {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.badge {
  font-size: 16px;
  min-height: 30px;
  border-radius: 1rem;
  padding: 5px 8px;
  color: #fff;
  background-color: var(--bg-color-badge);
}

.links fa-icon {
  cursor: pointer;
}
