section#portfolio {
  position: relative;
  width: 100%;
  padding: 0;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}

.item {
  position: relative;
  height: 450px;
  z-index: 1;
}

.item:nth-child(2n + 2) picture {
  right: 0;
}

.item picture {
  background: #4471ba;
  height: 100%;
  width: 60%;
  border-radius: 25px;
  position: absolute;
  transition: 0.4s;
  z-index: 1;
}

.item picture:hover {
  background-color: transparent;
  transition: 0.4s;
}

.item picture img {
  transition: 0.4s;
  mix-blend-mode: multiply;
  filter: grayscale(100%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.item picture:hover img {
  mix-blend-mode: normal;
  filter: none;
  cursor: pointer;
}

.item:nth-child(2n + 2) .description {
  left: 0;
  text-align: left;
  max-width: 60%;
}

.item .description {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: right;
  min-height: 450px;
}

.item .description .title {
  font-size: 42px;
  font-weight: 700;
  color: var(--primary-color);
  z-index: 1;
}

.card {
  border: 1px solid var(--border-color-nav);
  z-index: 2;
  background-color: var(--bg-color-button);
  min-height: 130px;
  min-width: 600px;
  max-width: 600px;
  padding: 1rem;
  display: flex;
  border-radius: 12px;
  align-items: center;
  justify-content: flex-end;
}

.card .body {
  font-size: 21px;
}

.item:nth-child(2n + 2) .description .technologies,
.item:nth-child(2n + 2) .description .links {
  justify-content: flex-start;
}

.description .technologies,
.description .links {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  z-index: 1;
}

.badge {
  font-size: 16px;
  min-height: 30px;
  border-radius: 1rem;
  padding: 5px 8px;
  color: #fff;
  font-weight: 600;
  background-color: var(--bg-color-badge);
}

.links a {
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary-color);
}

.links a:visited {
  color: var(--secondary-color);
}

.links a:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .links a {
    font-size: 18px;
    color: #fff;
  }

  .links a:visited {
    color: #fff;
  }

  .projects {
    gap: 1.5rem;
  }
  .card {
    background-color: transparent;
    padding: 1rem 0;
    min-width: auto;
    min-height: auto;
    border: none;
  }

  .card .body {
    color: var(--third-color);
  }

  .item {
    height: 400px;
  }

  .item picture {
    height: 400px;
    width: 100%;
  }

  .item .description {
    text-align: start;
    z-index: 1;
    left: 0;
    min-height: 400px;
    padding: 1rem;
  }

  .item .description {
    align-items: flex-start;
  }

  .item:nth-child(2n + 2) .description {
    max-width: 100%;
  }

  .item .description .title {
    color: var(--third-color);
    text-shadow: var(--text-shadow-color) 2px 0px 0px,
      var(--text-shadow-color) 1.75517px 0.958851px 0px,
      var(--text-shadow-color) 1.0806px 1.68294px 0px,
      var(--text-shadow-color) 0.141474px 1.99499px 0px,
      var(--text-shadow-color) -0.832294px 1.81859px 0px,
      var(--text-shadow-color) -1.60229px 1.19694px 0px,
      var(--text-shadow-color) -1.97998px 0.28224px 0px,
      var(--text-shadow-color) -1.87291px -0.701566px 0px,
      var(--text-shadow-color) -1.30729px -1.5136px 0px,
      var(--text-shadow-color) -0.421592px -1.95506px 0px,
      var(--text-shadow-color) 0.567324px -1.91785px 0px,
      var(--text-shadow-color) 1.41734px -1.41108px 0px,
      var(--text-shadow-color) 1.92034px -0.558831px 0px;
  }

  .description .links {
    color: #e7e9ea;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 0;
  }
  .item {
    height: 300px;
  }
  .item picture {
    height: 300px;
  }

  .item .description {
    min-height: 300px;
  }

  .item .description .title {
    font-size: 28px;
  }

  .card .body {
    font-size: 17px;
  }
  .badge {
    font-size: 12px;
    font-weight: 500;
    min-height: auto;
  }
  .links a {
    font-size: 14px;
    color: #fff;
  }

  .links a:visited {
    color: #fff;
  }
}
