<section class="home" id="home">
  <div class="main-title">
    <h1 class="title">Hello there!✌️</h1>
    <h2 class="title">I'm <span class="subtitle-name">Marco</span></h2>
    <span class="title-job">Frontend Developer</span>
    <div class="bottom">
      <button class="button-home"> Download CV </button>
      <div class="social">
        <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
        <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
      </div>
    </div>
  </div>
  <figure>
    <img src="assets/picture.png" alt="profile-image" class="profile">
  </figure>

</section>