<div class="navigation">
  <ul>
    <li class="home active">
      <a href="#home">
        <fa-icon [icon]="['fas', 'home']" size="2x" class="icon"></fa-icon>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="about">
      <a href="#about">
        <fa-icon [icon]="['fas', 'user']" size="2x" class="icon"></fa-icon>
        <span class="title">About</span>
      </a>
    </li>
    <li class="skills">
      <a href="#skills">
        <fa-icon [icon]="['fas', 'wrench']" size="2x" class="icon"></fa-icon>
        <span class="title">Skills</span>
      </a>
    </li>
    <li class="portfolio">
      <a href="#portfolio">
        <fa-icon [icon]="['fas', 'briefcase']" size="2x" class="icon"></fa-icon>
        <span class="title">Portfolio</span>
      </a>
    </li>
    <li class="contact">
      <a href="#contact">
        <fa-icon [icon]="['fas', 'envelope']" size="2x" class="icon"></fa-icon>
        <span class="title">Contact</span>
      </a>
    </li>
    <hr class="line-divisor">
    <li>
      <a (click)="setTheme()">
        <fa-icon [icon]="['fas', (!isDarkTheme) ? 'moon' : 'sun']" size="2x" class="icon"></fa-icon>
        <span class="title">{{ !isDarkTheme ? 'Dark' : 'Light' }} m ode</span>
      </a>
    </li>
  </ul>
</div>