<div class="navigation">
  <ul>
    <li class="active">
      <a href="#home">
        <fa-icon [icon]="['fas', 'home']" size="2x" class="icon"></fa-icon>
        <span class="title">Home</span>
      </a>
    </li>
    <li class="sub-active">
      <a href="#about">
        <fa-icon [icon]="['fas', 'user']" size="2x" class="icon"></fa-icon>
        <span class="title">About</span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <fa-icon [icon]="['fas', 'wrench']" size="2x" class="icon"></fa-icon>
        <span class="title">Skills</span>
      </a>
    </li>
    <li>
      <a href="#portfolio">
        <fa-icon [icon]="['fas', 'briefcase']" size="2x" class="icon"></fa-icon>
        <span class="title">Portfolio</span>
      </a>
    </li>
    <li>
      <a href="#contact">
        <fa-icon [icon]="['fas', 'envelope']" size="2x" class="icon"></fa-icon>
        <span class="title">Contact</span>
      </a>
    </li>
    <hr class="line-divisor">
    <li>
      <a href="#">
        <fa-icon [icon]="['fas', 'moon']" size="2x" class="icon"></fa-icon>
        <span class="title">Dark Mode</span>
      </a>
    </li>
  </ul>
</div>