<section id="skills">
  <span class="title">My skills 🛠️</span>
  <div class="skills">
    <div class="skill">
      <span class="subtitle">Frontend</span>
      <app-card class="cards" [cards]="cardsDataFrontend"></app-card>
    </div>
    <div class="skill">
      <span class="subtitle">Backend</span>
      <app-card class="cards" [cards]="cardsDataBackend"></app-card>
    </div>
    <div class="skill">
      <span class="subtitle">Others tools</span>
      <app-card class="cards" [cards]="cardsDataOthers"></app-card>
    </div>
    <div class="skill">
      <span class="subtitle">Currently learning...</span>
      <app-card class="cards" [cards]="cardsDataLearning"></app-card>
    </div>
  </div>
</section>